.header {
  display: flex;
  justify-content: center;

  span {
    flex: 1;
    transform: translate(50%, 0);

  }

  .mat-button-wrapper {
    flex: 1;
    justify-content: flex-end;
  }
}

.mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}
