<mat-grid-list cols="3" rowHeight="40%">
  <mat-grid-tile>
    <img src="{{downloadUrl}}" width="80%">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="{{downloadUrl}}" width="80%">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="{{downloadUrl}}" width="80%">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="{{downloadUrl}}" width="80%">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="{{downloadUrl}}" width="80%">
  </mat-grid-tile>
  <mat-grid-tile>
    <img src="{{downloadUrl}}" width="80%">
  </mat-grid-tile>


</mat-grid-list>
