.login-form-title {
  display: flex;
  justify-content: center;
}
.login-form {
  display: flex;
  align-items: center;
  flex-flow: column;
}
.mat-form-field {
  padding: 1em 2em;
}

.login-form-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 2em;
}

.login-form-login-button {
  background-color: #38383DFF;
  color: white;
}

.login-message {

  text-align: center;
  justify-content: center;
  display: flex;
  span {
    font-weight: bold;
    color: black;
  }

  .login-success {
    padding: 2em 1em;
    background: #00800057;
    width: 100%;
  }

  .login-failed {
    padding: 2em 1em;
    background: #ff000054;
    width: 100%;
  }
}


