<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" mode="push" [(opened)]="shouldRun" position="end">
    <div class="navigation-list">
      <button mat-button>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button mat-button>
        <mat-icon>photo</mat-icon>
        <span>Albums</span>
      </button>
      <button mat-button>
        <mat-icon>info</mat-icon>
        <span>About</span>
      </button>
      <mat-divider></mat-divider>

      <button mat-button (click)="openUploadDialog()">
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload</span>
      </button>
      <button mat-button (click)="openLogInDialog()">
        <mat-icon>person</mat-icon>
        <span>Login</span>
      </button>

    </div>
  </mat-sidenav>

</mat-sidenav-container>
