
html, body {
  height: 100vh;

  span {
    letter-spacing: 0.2em;
  }
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-toolbar {
  background: #004a9f;
  color: white;
}


.mat-grid-tile-content {
  margin-top: 4em !important;
  align-items: baseline !important;
}

.footer {
  .mat-form-field-flex {
    background-color: white !important;
  }
}



